html {
  min-height: 20em;
  min-width: 57em;
}

#home,
#pittsburgh {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E6F7FF;
}

#home > img {
  width: 80%;
  display: block;
  margin: 1em auto 0 auto;
}

#home > p {
  width: 80%;
  margin: auto;
}

.firstP {
  padding: 2em 0 0 0;
}

nav {
  text-align: center;
  border-bottom: inset black;
  background-color: white;
  opacity: 0.8;
}

nav ul {
  list-style-type: none;
  padding: 1rem 0 1rem 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 5% 0 5%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  font-weight: bold;
}



#events {
  margin: 0;
  height: 100%;
  background-image: url("../img/cathy.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#error {
  color: red;
  padding: 0 2.5em;
}

#eventInput {
  padding: 1rem 2rem 2rem 2rem;
  margin: 20% auto;
  width: 25rem;
  background-color: white;
  border-radius: 0.8rem;
  opacity: 0.8;
}

#eventInput h3 {
  text-align: center;
  margin: 1rem 0 1.2rem 0;
}

#pitt {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 100%;
}

#pitt > img {
  display: block;
  padding: 0;
  position: center;
  margin: 2em auto;
}

#about {
  padding: 0;
  margin: 0;
}

.aboutImg {
  padding: 1em 1em 1em 1em;
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
}

#me {
  padding: 3em 1em 1em 1em;
}

#about p {
  text-align: center;
  width: 70%;
  margin: auto;
}

.lastP {
  padding: 0 0 4em;
}

#cathyDiv > img,
#pointDiv > img,
#upperDiv > img,
#hallowDiv > img,
#shadyDiv > img {
  width: 40em;
  padding: 0 0 1em 0;
  image-orientation: from-image;
}

#cathyDiv > img.vertical {
  display: block;
  width: 25em;
  margin: auto;
  padding: 0 0 1em 0;
  image-orientation: from-image;
}

#cathyDiv,
#pointDiv,
#upperDiv,
#hallowDiv,
#shadyDiv {
  display: block;
  width: 40em;
  margin: auto;
}

h1 {
  text-align: center;
}

#slider {
  position: relative;
  margin: 2em auto 0 auto;
  height: 22em;
  width: 40em;
  overflow: hidden;
}

.slide img {
  width: 30em;
  height: auto;
}

.slide {
  position: absolute;
  margin: 0 5em 0 5em;
  display: none;
}

.nav {
  display: flex;
  height: 6em;
  width: 4em;
  padding: 8em 0 8em 0;
  cursor: pointer;
}

.next {
  float: right;
}

.prev {
  float: left;
}

