html {
  min-height: 20em;
  min-width: 57em;
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
}

.border {
  width: 60em;
  background-color: white;
  margin: auto;
  height: 100%;
}

#title {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 18em;
  color: white;
  background-color: #2B2B2B;
  border-bottom: solid #4F4F4F;
}

footer {
  margin: 2em 0 0 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 10em;
  color: white;
  background-color: #2B2B2B;
  border-top: solid #4F4F4F;
  font-family: 'Ubuntu';
}

footer ul {
  list-style-type: none;
  padding: 1.5em 2em 1.5em 2em;
}

footer li {
  padding: 0.5em;
}

span {
  color: #DE1B1B;
}

.blue {
  color: #075ed3;
}

#title h1 {
  font-size: 6em;
  margin: auto;
  letter-spacing: 4px;
  font-family: 'Ubuntu';
}

#title h1::first-letter {
  color: #DE1B1B;
}

nav {
  text-align: center;
  border-bottom: solid #4F4F4F;
  background-color: white;
}

nav ul {
  list-style-type: none;
  padding: 1rem 0 1rem 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 5% 0 5%;
  width: 5%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  font-weight: bold;
}

.firstP {
  padding: 3em 0 0 0;
}

#home p,
#about p,
#research p {
  text-align: center;
  width: 60%;
  margin: auto;
}

.lastP {
  padding: 0 0 4em;
}

/* Home ***************************************************************/
#camera {
  width: 10em;
  float: right;
  margin: 2em 3% 0 0;
}

/* Triangle code taken from https://css-tricks.com/snippets/css/css-triangle/ */
#arrow-right {
  width: 0; 
  height: 0; 
  border-top: 12em solid transparent;
  border-bottom: 12em solid transparent;
  border-left: 35em solid transparent; /* to make triangle appear, change the color here */
  z-index: -100;
  position: absolute;
  margin: -3em 0 0 35%;
}

/* About me ****************************************************************/
.aboutImg {
  padding: 2em 1em 2em 1em;
  display: block;
  margin: auto;
  width: 30rem;
  height: auto;
}

#me {
  padding: 3em 1em 2em 1em;
}

#slider {
  position: relative;
  margin: 2em auto 0 auto;
  height: 22em;
  width: 40em;
  overflow: hidden;
}

.slide img {
  width: 30em;
  height: auto;
}

.slide {
  position: absolute;
  margin: 0 5em 0 5em;
  display: none;
}

.nav {
  display: block;
  padding: 8em 0 8em 0;
  cursor: pointer;
}

.nav img {
  height: 6em;
  width: 4em;
}

.next {
  float: right;
}

.prev {
  float: left;
}


/* Pittsburgh ***************************************************************/
.locations img {
  width: 40em;
  padding: 0 0 1em 0;
  image-orientation: from-image;
}

.locations p ~ img{
  padding: 1em 0 1em 0;
}

#cathyDiv {
  margin: 4rem auto 0;
  display: block;
  width: 40em;
}

#cathyDiv img.vertical {
  display: block;
  width: 25em;
  margin: auto;
  padding: 1em 0 1em 0;
  image-orientation: from-image;
}

.locations {
  display: block;
  width: 40em;
  margin: auto;
}

.locations h1 {
  text-align: center;
}

#pitt img {
  display: block;
  padding: 0;
  position: center;
  margin: 0 auto;
}

#pitt p {
  text-align: center;
  margin: 3rem 0 0.5rem;
}


/* Contact Form ****************************************************************/
#contactForm {
  margin: 2rem auto 6rem auto;
  width: 30em;
}

#contactForm h4 {
  text-align: center;
}

.contacters {
  display: block;
  width: 95%;
  height: 1.4rem;
  margin: 2% 0 2% 0;
  padding: 0.4rem;
  font-size: 0.8rem;
  border-color: #DCDCDC;
  border-style: solid;
  border-width: 1px;
 }

#bodycontact {
  height: 10rem;
}

#contactHolder fieldset {
  border: none;
}

#contactHolder {
  padding: 3% 4% 3% 5%;
  border-radius: 1.2rem;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#success {
  text-align: center;
  display: none;
}

textarea {
  font-size: 0.8rem;
  padding: 2rem;
  height: 10rem;
  border-color: #DCDCDC;
  border-width: 1px;
}

#submitBtn {
  width: 4.4rem;
  height: 1.4rem;
  background-color: white;
  border-style: solid;
  border-width: 0.8px;
}

#submitBtn:active {
  background-color: #C6DEFF;
}


/* Research ***************************************************************/
#dna {
  display: block;
  margin: auto;
  width: 20%;
}

#research h2 {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 0 0 1rem 0;
}

.regP {
  padding: 0 0 3rem 0;
}


#left {
  float: left;
  margin: 0 1% 0 0;
}

#center {
  float: left;
  margin: 0;
  margin: 0 2em 0 2em;
}

#right {
  float: left;
  margin: 0 0 0 1%;
}

.sun div {
  width: 15em;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 0.1em;
  height: 14em;
  overflow: hidden;
}

.sun img {
  width: 100%;
}

.sun {
  display: block;
  width: 51em;
  height: 15em;
  margin: 2em auto 2em auto;
}

#research h4 {
  margin: 1em auto 0.5em auto;
}

#home .lastP {
  margin: 0 auto 3em auto;
}
